

#card {
    width: 350px;
    height: 515px;
    perspective: 1000px; /* Enables 3D effect */
    
}

#card .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
}

#card:hover .card-inner {
    transform: rotateY(180deg); /* Rotate card on hover */
    box-shadow: black 2PX 2px 5px;
}

#card .front,
#card .back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden; /* Hide the back face when not rotated */
}

#card .front {
    background-size: cover;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

#card .front h2 {
    font-weight: 25px;
    text-shadow: 2px 2px 5px black; 
}

#card .front button {
    width: 120px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;
    transition: all 0.3s;
}

#card .front button:hover {
    background: white;
    color: black;
}

#card .back {
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg); /* Start rotated for the flip effect */
}

#card .back h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
}

#card .back p {
    font-size: 14px;
}

#card .row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#card .col {
    font-size: 30px; /* Adjust size */
    color: #7800ad;
    transition: all 0.3s;
}

#card .col i {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
    padding: 10px;
    border-radius: 50%;
}

#card .col:hover i {
    transform: scale(1.2);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.7);
}
